/* * {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://t3.ftcdn.net/jpg/05/81/53/22/360_F_581532287_qrcnpvDyiYDJwiY1BDqkUuhKcEWVYC7p.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3); 
}

.background-image h2,
.background-image p {
  color: white; 
  padding:0;
  margin: 0;
}

.menu-bar {
    background-color: rgb(43, 70, 43);
    text-align: center;
}

.menu-bar ul {
    display:inline-flex;
    list-style: none;
    color: white;
}

.menu-bar li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    color: white;
    text-decoration: none;
}

.active, .menu-bar ul li:hover {
    background-color: rgb(69, 158, 69);
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(43, 70, 43);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.background-image h2,
.background-image p {
  color: white; 
  padding:10px;
  margin: 0;
  align-content: center;
}

*/





body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://t3.ftcdn.net/jpg/05/81/53/22/360_F_581532287_qrcnpvDyiYDJwiY1BDqkUuhKcEWVYC7p.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value (0.3) for transparency */
  }


  .navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent black background color */
    overflow: auto;
    border: 1px solid black;
  }

  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a.chakra {
    float: right;
  }

  .navbar a:hover {
    background-color: #04AA6D;
    color: yellow;
  }

  .active {
    background-color: #04AA6D;
  }

  .background-image {
    background-color: rgba(0, 0, 0, 0.5);
    /* Transparent black background color */
    background-size: cover;
    background-position: center;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .background-image h2,
  .background-image p {
    color: white;
    /*lor for better visibility */
    padding: 0;
    margin: 0;
  }

  @media screen and (max-width: 500px) {
    .navbar.background-image {
      background-image: url('https://img.freepik.com/premium-vector/circle-black-overlap-background_51543-774.jpg');
      background-size: cover;
      background-position: center;
      padding: 50px;
      text-align: center;
      color: white;
      /*
    background-color: rgba(0, 0, 255, 0.5); /* Transparent background */
      background-color: aqua;
    }

    a {
      float: none;
      display: block;
    }
  }

  img {
    width: 320px;
    height: 200px;
    position: absolute;
  }

  .container {
    width: 350px;
    height: 200px;
    position: relative;
    margin-top: 20%;
    margin-left: 35%;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateZ(-10deg);
    animation: ror 20s linear infinite;
  }

  @keyframes ror {
    50% {
      transform: rotateX(30deg);
    }
  }

  img:hover {
    width: 340px;
    height: 220px;
    cursor: pointer;
  }

  .images {
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
  }

  @keyframes rotate {
    from {}

    to {
      transform: rotateY(360deg);
    }
  }

  .images img {
    width: 320px;
    height: 200px;
    position: absolute;
    opacity: 0.6;
    /* Adjust the opacity value as needed */
  }

  img:nth-child(1) {
    transform: rotateY(60deg) translateZ(300px)
  }

  img:nth-child(2) {
    transform: rotateY(120deg) translateZ(300px)
  }

  img:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px)
  }

  img:nth-child(4) {
    transform: rotateY(240deg) translateZ(300px)
  }

  img:nth-child(5) {
    transform: rotateY(300deg) translateZ(300px)
  }

  img:nth-child(6) {
    transform: rotateY(360deg) translateZ(300px)
  }