<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anchor Tag</title>
</head>
<body>
    
    <h2><a href="home.html" target="_blank">Home</a></h2>
    <h2><a href="test.html" target="_blank">Marquee</a></h2>
    <h2><a href="https://www.google.com" target="_blank">Google</a></h2>

    <table align="center" border="1px" bordercolor="red" cellpadding="15px" cellspacing="5px" bgcolor="gold">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr>
               <td>Chakra</td>
               <td>Bng</td>
               <td>35</td>
               <td>chakra@gmail.com</td> 
            </tr>
            <tr>
                <td>PM</td>
                <td>karur</td>
                <td>30</td>
                <td>pm@gmail.com</td> 
             </tr>
        </tbody>
    </table>

</body>
</html>