<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Certifications</title>
    
    <link rel="stylesheet" href="{% static 'css/certification.css' %}">
    
</head>

<body>
    <section id="flex">
        <div class="head">
            <h1>Welcome Everyone</h1>
            <p>Thanks for visiting my certification web page. Here I have summarized my certification in each of
                sections. Click on the below images to see certification credentials</p>
        </div>
        <div class="container">
            <div class="part1">
                <h1>Enterprise Architect</h1>
                <img src="{% static 'image/togaf.png' %}" alt="My cert" class="images"
                    onclick="window.open('https://www.credly.com/badges/d7adecbd-46d0-4606-8781-b4d6a5ad6e3e')">
            </div>
            <div class="part2">
                <h1>Solution Architect</h1>
                <img src="{% static 'image/aws.png' %}" alt="AWS cert" class="images"
                    onclick="window.open('https://www.credly.com/badges/8c46aae0-85b5-4ed5-a0af-c75c7d99ead9')">
            </div>
            <div class="part3">
                <h1>DevOps Engineer</h1>
                <img src="{% static 'image/terraform_cert.png' %}" alt="AWS cert" class="images"
                    onclick="window.open('https://www.credly.com/badges/466339a3-9a7d-43c5-9026-54e8ac11d183')">
            </div>
            <div class="part4">
                <h1>ITIL V3</h1>
                <img src="{% static 'image/itil.png' %}"" alt=" AWS cert" class="images"
                    onclick="window.open('https://www.exin.com/itil-foundation/')">

            </div>
            <div class="part5">
                <h1>Operations Engineer</h1>
                <img src="{% static 'image/azure.png' %}"" alt=" AWS cert" class="images"
                    onclick="window.open('https://www.credly.com/badges/3a125121-8e2c-4f5f-aaad-b4a349cc5927')">

            </div>
            <div class="part6">
                <h1>Micro Services</h1>
                <img src="{% static 'image/kube.png' %}"" alt=" AWS cert" class="images"
                    onclick="window.open('https://www.credly.com/badges/566848d3-ce2e-42cb-8c47-65ad4a3c9b3f')">

            </div>
        </div>
    </section>
</body>

</html>