<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/contactme.css' %}">
    <script type="text/javascript" src="{% static 'JS/contactme.js' %}"> </script>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutme_smediaqueries.css' %}">

</head>

<body>

    <nav id="desktop-nav">
        <div class="logo">IT Consultation </div>
        <div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#services">Solutions</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">IT Consultation (Chakra)</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#about" onclick="toggleMenu()">Home</a></li>
                <li><a href="#experience" onclick="toggleMenu()">About Me</a></li>
                <li><a href="#experience" onclick="toggleMenu()">Services</a></li>
                <li><a href="#experience" onclick="toggleMenu()">Solutions</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
            </div>
        </div>
    </nav>


    <section class="section_1">
        <div class="section_1-text1">
            <h1>TRANSFORMING YOUR IT USNIG DIGITAL TRANSFORMATION PRINCIPLES AND SHAPE YOUR CAREER TOWARDS NEXT
                GENERATION TOOLS & OPERATIONS </h1>

        </div>

        <div class="section_1-text2">
            <div class="section_1_text-inner">

                <div class="box">
                    <h1>DevOps Best Practices</h1>
                </div>
                <div class="box">
                    <h1>Ansible setup for DSC</h1>
                </div>
                <div class="box">
                    <h1>Terraform for Deployment</h1>
                </div>
                <div class="box">
                    <h1>DBaaS Solution</h1>
                </div>
                <div class="box">
                    <h1>Data engineering</h1>
                </div>
                <div class="box">
                    <h1>Career Consulting</h1>
                </div>
            </div>



        </div>
    </section>

    <section class="section_2">
        <div class="section_2-text1">
            <h1> WHAT I OFFER </h1>

        </div>

        <div class="section_2-img_container">
            <div class="section_2-img1">
                <div class="images1">
                    <img src="{% static 'image/digital.png' %}">
                    <h1>DIGITAL TRANSFORMATION</h1>
                </div>
                <div class="ulis">
                    <ul>
                        <li>Transform Legacy mindset</li>
                        <li>Implement DevOps Priciples</li>
                        <li>Self Service portals</li>
                        <li>Automation Driven environment</li>
                    </ul>
                </div>
            </div>

            <div class="section_2-img2">
                <div class="section_2-img2">
                    <div class="images1">
                        <img src="{% static 'image/career.jpg' %}">
                        <h1>CAREER CONSULTING</h1>
                    </div>
                    <div class="ulis">
                        <ul>
                            <li>Transform Legacy mindset</li>
                            <li>Implement DevOps Priciples</li>
                            <li>Self Service portals</li>
                            <li>Automation Driven environment</li>
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="section_3">
        <div class="section_3-text1">
            <h1> HOW IT WORKS </h1>

        </div>


    </section>

    <section class="section_4">




    </section>



</body>

</html>