<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Script</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/js_style.css' %}">
    <script type="text/javascript" src="{% static 'JS/js_script.js.js' %}"> </script>
</head>
<body>
	<form id="form_id" method="POST">

    {% csrf_token %}
    <div id="border">
        <label for="">Number-1</label>
        <input type="text" id="val1" name="val1"><br><br>
        <label for="">Number-2</label>
        <input type="text" id="val2" name="val2"><br><br>
        <button id="add">Submit</button>
        <button id="clear">Clear</button>
        <b><h3 id="message"> - </h3></b>
        <b><h3 id="result">-</h3></b>
    </div>
</form>
</body>
</html>
