<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML</title>
</head>
<body>
  
  <marquee loop=""2" direction="up" bgcolor="grey" scrolldelay="50" height="100px" width="700px" behavior="alternate">
    <h1>Its us PLC</h1>
  </marquee>  
  <marquee font-color="white" bgcolor="yellow" scrolldelay="50" height="100px" width="700px" behavior="scroll">
    <h1>Its us PLC Love</h1>
  </marquee>
  <marquee loop="3" direction="down" bgcolor="red" scrolldelay="50" height="100px" width="700px" behavior="slide">
    <h1>Its us PLC</h1>
  </marquee>
</body>
</html>