<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="super_container">
        <div class="head">
            <h1>About Us</h1>
        </div>
        <div class="top_container">
            <div class="img">
                <img src="{% static 'image/team5.png' %}" alt="Chakra profile picture" />
            </div>
    
            <div class="text">
                <p>Welcome to [Your Company Name], a leading force in DevOps and Database as a Service (DBaaS)
                    engineering.
                    Our mission is clear—to empower businesses in the dynamic digital landscape through innovative
                    technology solutions.
                    With a team of seasoned professionals, we stand out through our commitment to expertise,
                    collaboration, agility, and unwavering security.
                    From streamlining software development with DevOps practices to simplifying database management
                    through scalable DBaaS solutions,
                    we deliver efficiency and reliability. Our core values of innovation, integrity, and excellence
                    drive every aspect of our work,
                    ensuring transparency, honesty, and the pursuit of high standards. Join us on a transformative
                    journey at [Your Company Name],
                    where we redefine possibilities and propel your business forward through the power of DevOps and
                    DBaaS engineering.
                </p>
            </div>
        </div>
    
        <div class="container">
            <h1>Our Services</h1>
            <div class="row">
                <div class="service">
                    <i class="fa-solid fa-laptop-code"></i>
                    <h2>Web Design</h2>
                    <p>This is web designing section.</p>
                </div>
    
                <div class="service">
                    <i class="fa-sharp fa-solid fa-database"></i>
                    <h2>DBaaS</h2>
                    <p>This is web designing section.</p>
                </div>
    
                <div class="service">
                    <i class="fa-solid fa-infinity"></i>
                    <h2>DevOps</h2>
                    <p>This is web designing section.</p>
                </div>
    
                <div class="service">
                    <i class="fa-solid fa-sitemap"></i>
                    <h2>Architecture</h2>
                    <p>This is web designing section.</p>
                </div>
    
                <div class="service">
                    <i class="fa-solid fa-user-tie"></i>
                    <h2>Career Growth Consulting</h2>
                    <p>This is web designing section.</p>
                </div>
    
                <div class="service">
                    <i class="fa-solid fa-magnifying-glass-chart"></i>
                    <h2>Data Engineering</h2>
                    <p>This is web designing section.</p>
                </div>
    
            </div>
    
        </div>
    
        
    </div>
    
</body>
</html>
