<!DOCTYPE html>
<html>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/webpage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <div class="navbar">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="{% url 'aboutMe' %}" target="_blank""><i class=" fa fa-fw fa-user-circle-o"></i> About me</a>
    <a href="{% url 'certification' %}" target="_blank""><i class=" fa fa-certificate"></i> My Certification</a>
    <a href="{% url 'thisweb' %}" target="_blank""><i class=" fa fa-globe"></i> This Web</a>
    <a href="https://github.com/chakratechgeek" target="_blank""><i class=" fa fa-github"></i> My GitHub</a>
    <a href="https://github.com/chakratechgeek?tab=repositories" target="_blank""><i class=" fa fa-camera"></i> My Projects</a>
    <a href="{% url 'contact' %}" target="_blank"><i class="fa fa-fw fa-envelope"></i> Contact</a>

  </div>
  <div class="background-image">
    <h2> <span style="color: yellowgreen;">Chakra, </span> welcomes you to this website</h2>
  </div>

  </div>


  <div class="container">
    <div class="images">
      <img src="{% static 'image/devops.jpg' %}">
      <img src="{% static 'image/ansible.jpg' %}">
      <img src="{% static 'image/git.jpg' %}">
      <img src="{% static 'image/kube.jpg' %}">
      <img src="{% static 'image/aws1.jpg' %}">
      <img src="{% static 'image/terraform.jpg' %}">
      <img src="{% static 'image/chaks.jpg' %}" >

    </div>
  </div>

</body>

</html>