<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Services</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/webpage_v2.css' %}">
    <script src="https://kit.fontawesome.com/ce5721ed59.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav id="desktop-nav">
        <div class="logo">IT Consulting</div>
        <div>
            <ul class="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#price">Price</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">IT Consulting</div>
        <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <li><a href="#home" onclick="toggleMenu()"> Home</a></li>
                <li><a href="#aboutme" onclick="toggleMenu()">About Me</a></li>
                <li><a href="#Services" onclick="toggleMenu()">Services</a></li>
                <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
                <li><a href="#price" onclick="toggleMenu()">Price</a></li>
            </div>
        </div>
    </nav>
    <section class="section_1">

    </section>

    <section class="section_2">

    </section>

    <section class="section_3">

    </section>
    <section class="section_4">
        
    </section>
    
    <footer>
        <nav>
            <div class="nav-links-container">
                <ul class="nav-links">
                    <li><a href="#home">Home</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#price">Price</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <p>Copyright &#169; 2024 Chakravarthi Thangavelu. All Rights Reserved.</p>
    </footer>

</body>

</html>