<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DbaaS Team</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/webpage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="menu-bar">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{% url 'aboutMe' %}" target="_blank">About Me</a> </li>
            <li><a href="#">Client</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">GCS</a></li>
                        <li><a href="#">PLC</a></li>
                    </ul>

                </div>
            </li>

            <li><a href="#">Services</a></li>


            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div>
        <marquee scrollamount="15">
            <img src="{% static 'image/devops.jpg' %}" alt="DevOps Image" width="200" height="200" style="margin-top: 100px;"">
        </marquee>
        <marquee scrollamount="15">
            <img src="{% static 'image/pgsql.jpg' %}" alt="DevOps Image" width="200" height="200" style="margin-top: 100px;"">
        </marquee>
        <marquee scrollamount="15">
            <img src="{% static 'image/oracle.jpg' %}" alt="DevOps Image" width="200" height="200" style="margin-top: 100px;"">
        </marquee>
        <marquee scrollamount="15">
            <img src="{% static 'image/ansible.jpg' %}" alt="DevOps Image" width="200" height="200" style="margin-top: 100px;"">
        </marquee>
    </div>

</body>

</html>